{% load static i18n%}
<div class="mb-1">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}">Booking 42</a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        {% if request.user.is_authenticated %}
        <div class="dropdown">
          <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </div>
        {% else %}
        <button type="button" class="btn" data-toggle="modal" data-target="#signinModel">
          <i class="fas fa-user"></i>
        </button>
        {% include "signup-modals.html" %}
        {% endif %}
      </li>
    </ul>
  </nav>

</div>